@(loginForm: play.api.data.Form[User], registerForm: play.api.data.Form[User])(implicit flash: play.api.mvc.Flash, session: play.api.mvc.Session)

@main(loginForm, registerForm) {

    <div class="container-fluid">
        <div class="row">
            <div class="well">
                Step 1 - <a href ='./loadNeurons' class="btn btn-success">Load Neurons</a>
            </div>
            <div class="well">
                Step 2 - <a href ='./loadRaw' class="btn btn-success">Load Raw Neuron Time Series Data</a>
            </div>
            <div class="well">
                Step 3 - <a href ='./integrate' class="btn btn-danger disabled">Integrate Time Series Data</a>
            </div>
            <div class="well">
                Step 4 - <a href ='./launchNeurons' class="btn btn-success">Launch Neuron Actor System</a>
            </div>
            <div class="well">
                Step 5 - <a href ='./crunch' class="btn btn-default disabled">Crunch</a>
            </div>
            <div class="well">
                Step 6 - <a href ='./view' class="btn btn-default disabled">View Data Results</a>
            </div>
        </div>
    </div>

}
