@(loginForm: play.api.data.Form[User], registerForm: play.api.data.Form[User])(implicit flash: play.api.mvc.Flash, session: play.api.mvc.Session)

@main(loginForm, registerForm) {

    <div class="container-fluid">
        <div class="row">

            <div class="well">
                <button href="#" ng-click="fetchNeurons(25)" class="btn btn-sm btn-info" style="padding: 4px;" role="button">Graph</button>
                <br><br>
                <div id="graph"> </div>
            </div>

            <div class="well">
                <button href="#" ng-click="getRegression()" class="btn btn-sm btn-info" style="padding: 4px;" role="button">Line Chart</button>
                <br><br>
                <div id="linechart"> </div>
            </div>

            <div class="well">
                Step 1 - <a href ='./loadNeurons' class="btn btn-success">Load Neurons</a>
            </div>
            <div class="well">
                Step 2 - <a href ='./loadRaw' class="btn btn-success">Load Raw Neuron Time Series Data</a>
            </div>
            <div class="well">
                Step 3 - <a href ='./launchNeurons' class="btn btn-success">Calculate neuron mean and variance</a>
            </div>
            <div class="well">
                Step 4 - <a href ='./crunch' class="btn btn-success">Do regression</a>
            </div>
        </div>
    </div>

}
